$primary-color: #9EB7E5;
$secondary-color: #648DE5;
$third-color: #CDC392;
$background-color: #304C89;
$secondary-background-color: #E8E5DA;
$text-color: #fff;
$secondary-text-color: rgba(31, 30, 30, 0.913);
$success-color: #90FFDC;
$danger-color: #B9314F;
$alert-color: #E6C229;